- var linkClass = ''
- var currentProject
- var parentsList = []

mixin parseSubProjects(obj, parentName, pList)
  ul.unstyled
    each projectId in obj
      each project in projects

        if (project.id == projectId && !project.deleted)

          - project.parentsList = (pList?[pList]:[])

          - project.parentsList.push(parentName)


          - linkClass = (project._id == currentProjectId ? 'active':'')
          if (project._id == currentProjectId)
           - linkClass = 'active'
           - currentProject = project

          li(id=project._id)
            .li-wrapper(class=linkClass)

              a(href='/admin/project/' + project._id)
                span.upper.small= project.name
              a(href='/admin/delete/' + project._id).smaller delete
            if (project.hasChildren)
              +parseSubProjects(project.children, project.name, project.parentsList)

.left-container
  h1.slim-title MENÜPUNKTE
  .project-form
    form.form
      .form-item
        //label Neues Projekt erstellen
        .append.w100
          input(type='text', name='project', data-whoid=currentProjectId)#project-name
          button.button.outline Go

  .project-list
    ul.unstyled

      each project in projects
        if (!project.deleted && !project.hasParent)
          - linkClass = (project._id == currentProjectId ? 'active':'')
          if (project._id == currentProjectId)
            - linkClass = 'active'
            - currentProject = project

          li(id=project._id)
            .li-wrapper(class=linkClass)

              a(href='/admin/project/' + project._id)
                span.upper.small= project.name
              a(href='/admin/delete/' + project._id).smaller delete
            if (project.hasChildren)
              +parseSubProjects(project.children, project.name)
